---
import Chart from "../components/Chart.vue";
import Mosaic from "../components/Mosaic.vue";
import "../style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Serverless Dashboard</title>
  </head>
  <body>
    <main>
      <h1>Serverless Dashboard</h1>

      <p>Dashboards, served statically!</p>

      <h2>
        <a href="https://observablehq.com/plot/getting-started"> Observable</a>
         Plot
      </h2>
      <Chart client:load />

      <h2>
        <a href="https://uwdata.github.io/mosaic/examples/">Mosaic</a> with
        DuckDB
      </h2>
      <Mosaic client:only="vue" />
    </main>
  </body>
</html>
