---
import Counter from "../components/Counter.vue";
import Plot from "../components/Plot.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <h1>Dashboard</h1>

      <Plot client:only />

      <br />
      <br />
      <br />
      <br />

       Don't forget to increment the counter. Is important for our internal analytics!


      <Counter client:only />
    </main>
  </body>
</html>
