---
import Counter from "../components/Counter.vue";
import Plot from "../components/Plot.vue";
import Mosaic from "../components/Mosaic.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
  </head>
  <body>
    <main>
      <h1>Dashboard</h1>

      <p>Static website showcasing how to do a simple dashboard with remote data. </p>

      <Plot client:only />

      <br />
      <br />

      <Mosaic client:only />

      <br />
      <br />

       Don't forget to increment the counter. Is important for our internal analytics!

      <Counter client:only />
    </main>
  </body>
</html>
