---
import Counter from "../components/Counter.vue";
import Plot from "../components/Plot.vue";
import Mosaic from "../components/Mosaic.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Serverless Dashboard</title>
  </head>
  <body>
    <main>
      <h1>Serverless Dashboard</h1>

      <p>This dashboard is served statically! It will pull and display the latest "static" datasets.</p>

      <h2>Observable Plot</h2>
      <Plot client:only />
      <h2>Mosaic Plot</h2>
      <Mosaic client:only />
    </main>
  </body>
</html>
