---

---

<div id="chart"></div>

<script>
  import * as Plot from "@observablehq/plot";

  var penguins = await fetch(
    "https://raw.githubusercontent.com/davidgasquez/static-data-dashboard/f18c0051a43426e390936d2a08628e43499c68da/src/assets/penguins.json"
  ).then((res) => res.json());

  const my_plot = Plot.plot({
    marks: [
      Plot.dot(penguins, { x: "culmen_depth_mm", y: "culmen_length_mm" }),
    ],
  });

  const chart = document.getElementById("chart");

  if (chart) {
    chart.innerHTML = my_plot.outerHTML;
  }
</script>
